# Nascondi completamente HTML, CSS e JS dalle statistiche
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# FORZA questo file ad essere contato nelle statistiche
*.swift linguist-detectable=true

